<h1>Список вопросов для теста: <%= @test.title %></h1>

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.body, question_path(question) %>
      <%= form_tag(question_path(question), method: :delete) do %>
        <%= submit_tag('Удалить', data: { confirm: "Вы уверены?" }) %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Новый вопрос', new_test_question_path(@test) %>
