<%= link_to 'Назад к тесту', test_path(@question.test) %>

<h1>Вопрос:</h1>
<p><%= @question.body %></p>

<%= link_to 'Редактировать', edit_question_path(@question) %>
<%= form_tag(question_path(@question), method: :delete) do %>
  <%= submit_tag('Удалить', data: { confirm: "Вы уверены?" }) %>
<% end %>
