<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= t('.your_result') %> <span style="color: <%= @test_passage.success? ? 'green' : 'red' %>;"><%= @test_passage.success_rate %>%</span></p>

<% if @test_passage.success? %>
  <p><%= t('.result.success') %></p>
<% else %>
  <p><%= t('result.fail') %></p>
<% end %>

<%= link_to t('.result.all_tests'), tests_path %>
