<%= flash_message(:notice) %>
<%= flash_message(:alert) %>

<% if user_signed_in? %>
  <div class="nav user">
    Привет, <%= current_user.name %> <%= link_to 'Guru', root_path %>!
    <%= link_to 'Выход', destroy_user_session_path, method: :delete, data: { confirm: 'Вы уверены?' } %>
  </div>
<% else %>
  <p class="nav user">
    <%= link_to 'Регистрация', new_user_registration_path %> |
    <%= link_to 'Вход', new_user_session_path %>
  </p>
<% end %>
