<h1><%= t('.header', title: @test.title) %></h1>
<p><%= t('.level', level: @test.level) %></p>

<h2><%= t('.questions') %></h2>

<table>
  <tr>
    <th><%= t('.number') %></th> 
    <th><%= t('.title') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <%= render @test.questions %>
</table>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %> |
<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('back'), admin_tests_path %>
